In [1]:
import pandas as pd

In [2]:
ANSWER_PATH = './data/sentiment_XS_30k/test.csv'
PREDICTED_PATH = './test_output/sentiment_XS_30k/test_results.tsv'

## get predicted answer

In [3]:
df = pd.read_csv(PREDICTED_PATH, sep='\t', header=-1)

In [4]:
df.head(3)

          0         1
0  0.999984  0.000016
1  0.999918  0.000082
2  0.999974  0.000026

In [5]:
class_0 = df[0].values.tolist()
class_1 = df[1].values.tolist()
#class_2 = df[2].values.tolist()

## get test answer

In [6]:
df1 = pd.read_csv(ANSWER_PATH, header=0)

In [7]:
df1.head(3)

                                                text  label
0  我很抱歉，我一直糾纏著你，我一直困擾著你，我一直執著著你，我一直守候著你，我一直討好著你，我...      0
1  回想這一個多月來的相處，不知道該說什麼，妳帶給我的是快樂嗎，我不清楚，但是我知道，如果我現在...      0
2  對不起啦昨天一時氣憤在板上罵了妳們，對不起啦那天我去找你時非常冷淡讓你擔心，對不起啦在電話裡...      0

In [8]:
test_answer = df1['label'].values.tolist()

In [13]:
correct = 0
for i in range(len(test_answer)):
    mylist = [class_0[i], class_1[i]]
    #print('predicted', mylist.index(max(mylist)), ', answer', test_answer[i])
    if mylist.index(max(mylist)) == test_answer[i]:
        correct += 1

In [10]:
print('test accuracy: ', correct/len(test_answer))

test accuracy:  0.824684988590138

In [11]:
len(test_answer), len(class_0)

(10079, 10079)

### news classification

In [17]:
test_answer = df1['syn_question'].values.tolist()

In [18]:
correct = 0
for i in range(len(test_answer)):
    mylist = [class_0[i], class_1[i], class_2[i]]
    #print('predicted', mylist.index(max(mylist)), ', answer', test_answer[i])
    if mylist.index(max(mylist)) == test_answer[i]:
        correct += 1

In [19]:
print('test accuracy: ', correct/len(test_answer))

test accuracy:  0.8578947368421053

In [20]:
print(len(test_answer))

190